ipython==5.5.0
  backports.shutil-get-terminal-size==1.0.0
  decorator==4.1.2
  pathlib2==2.3.0
    scandir==1.5
    six==1.10.0
  pexpect==4.2.1
    ptyprocess==0.5.2
  pickleshare==0.7.4
    pathlib2==2.3.0
      scandir==1.5
      six==1.10.0
  prompt-toolkit==1.0.15
    six==1.10.0
    wcwidth==0.1.7
  Pygments==2.2.0
  setuptools==36.4.0
  simplegeneric==0.8.1
  traitlets==4.3.2
    decorator==4.1.2
    enum34==1.1.6
    ipython-genutils==0.2.0
    six==1.10.0
matplotlib==2.0.2
  cycler==0.10.0
    six==1.10.0
  functools32==3.2.3.post2
  numpy==1.13.1
  pyparsing==2.2.0
  python-dateutil==2.6.1
    six==1.10.0
  pytz==2017.2
  six==1.10.0
  subprocess32==3.2.7
msgpack-python==0.4.8
MySQL-python==1.2.5
pipdeptree==0.10.1
  pip==9.0.1
pytest==3.2.2
  py==1.4.34
  setuptools==36.4.0
python-snappy==0.5.1
pyzmq==16.0.2
seaborn==0.8.1
statsmodels==0.8.0
  pandas==0.20.3
    numpy==1.13.1
    python-dateutil==2.6.1
      six==1.10.0
    pytz==2017.2
  patsy==0.4.1
    numpy==1.13.1
    six==1.10.0
  scipy==0.19.1
    numpy==1.13.1
tables==3.4.2
  numexpr==2.6.3
    numpy==1.13.1
  numpy==1.13.1
  six==1.10.0
wheel==0.30.0
xarray==0.9.6
  numpy==1.13.1
  pandas==0.20.3
    numpy==1.13.1
    python-dateutil==2.6.1
      six==1.10.0
    pytz==2017.2
