scipy==0.19.0
pandas==0.20.1
numpy==1.12.1
pytest==3.0.7
Jinja2==2.9.6
statsmodels==0.8.0
matplotlib==2.0.2
ipython==6.2.1
msgpack_python==0.4.8
nose_parameterized==0.6.0
pypandoc==1.4
seaborn==0.8.1
setuptools==36.6.0
six==1.11.0
ctypes_snappy==1.03
xarray==0.9.6
pyzmq==17.0.0b1
